.card {
  position: relative;
  min-height: 160px;
  background-color: #e6f6ff;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 220px;
}

.description {
  word-break: break-word;
  overflow-wrap: anywhere;
  line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0px 10px;
  border: 0px;
  cursor: pointer;
}

.btn-success {
  background-color: #83c6ff;
}
